@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(241, 241, 241);
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(219, 219, 219);
    border-radius: 40px;
}
